div.languages {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  text-align: center;
  border: 1px solid blue;
}

a.language {
  font-weight: 700;
  color: #b7542d;
  background-color: white;
  cursor: pointer;
  display: inline-block;
  margin: 10px 5px 2px 5px;
  order: 1px solid green;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

div.active {
  padding-bottom: 0px;
  border-bottom: 3px solid #b7542d;
}

.left,
.right {
  display: inline-block;
}

div.space {
  display: inline-block;
  width: 40px;
}

a.language:hover {
  color: white;
  background-color: #b7542d;
}
